#envatoPlug {
    padding-top:1em;
    padding-bottom:1em;
}

#envatoStoreList {
    list-style-type:none;
    margin-left: 1em;
    padding-left: 0;

}

.envPlugListItem {
    padding:1em 0 0.5em 0;
}
.envPlugListItem h4 {
    padding:0 0 0.5em 0;
}